/******************
feed style 
******************/

/* wrap */
.container { width: 980px; }
.body_wrap { margin:20px auto 10px; background:#F7F7F7; border: 1px solid #D9D9D9; -moz-box-shadow:rgba(0, 0, 0, 0.1) 0 0 3px 0px; -webkit-box-shadow:rgba(0, 0, 0, 0.1) 0 0 3px 0px; box-shadow:rgba(0, 0, 0, 0.1) 0 0 3px 0px; letter-spacing:-1px; }
.content_outter_wrap { border-left:1px solid #E8E9EB; background:#fff;
-moz-box-shadow:rgba(0, 0, 0, 0.1) 0 1px 2px 0px; -webkit-box-shadow:rgba(0, 0, 0, 0.1) 0 1px 2px 0px; box-shadow:rgba(0, 0, 0, 0.1) 0 1px 2px 0px; }
.left_wrap { width:160px;  }
.content_wrap { width:520px; }
.right_wrap { width:258px;  }

/* side */
.side { width:160px; padding:40px 0px; font-size:14px; }
.side .profile { height:50px; padding:5px 15px; font-size:15px; }
	.side .profile:hover { background:#EEE; }
	.side .profile { margin-bottom:1px; }
		.side .profile img { -moz-border-radius:25px; -webkit-border-radius:25px; border-radius:25px; width:50px; display:block; float:left; }
		.side .profile .inner_wrap { display:block; padding:7px 0 0 60px; font-weight:bold; }

.side .nav-list > li + .nav-header { font-size:12px; }
.side .nav li { margin-bottom:1px; }
	.side .nav li i { margin:1px 5px 0 0;  opacity:0.8; }
	.side .nav li.active > a > i { background-image:url(../assets/img/glyphicons-halflings-white.png); opacity:1; } 
	.side .nav .badge { float:right; color:white ; background:#08C; padding:3px 6px;  -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; font-size:11px; font-weight:bold; font-family:"tahoma"; letter-spacing:-1px; border:2px solid #fff; margin-top:-1px; line-height:1; text-shadow:none; }

/* area */
.area { margin: 20px 0px 0 0px; padding: 10px 5px 5px 0px; background:#F7F7F7; border-bottom: 2px solid gray; }
.area .nav { margin-bottom:0px; }
.area .nav > li > a { line-height:1.2em; padding: 5px 8px;  } 
.area .nav > li > a.region { font-size:16px; /*color:#333;*/ } 
.area .nav > li > a.range { font-size:16px; /*color:gray;*/ }
.area .nav > li i { margin: 3px 3px 0 0; opacity:1; }

/* feed */
.feed { margin-left:0; padding:20px 20px 20px; min-height:800px; border-right:1px solid #E8E9EB; }

/* feed > composer */
.composer { border-bottom:1px solid #E8E9EB; margin: -20px -20px 20px; padding:10px 20px; background:snow; }
.composer .menu { margin-bottom:5px; }
	.composer .menu > li i { margin: 1px 3px 0 0; opacity:0.7; }
	.composer .menu > li.active a { }
		.composer .menu li.active > a > i { background-image:url(../assets/img/glyphicons-halflings-white.png); opacity:1; }
	.composer .menu > li > a { padding: 5px 10px; margin-top: 2px; margin-bottom: 2px; font-size:12px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
	.composer textarea { margin-bottom:5px; }

.composer .meta { margin-bottom:5px; }
	.composer .meta li i { margin: 1px 3px 0 0; opacity:0.4; }
	.composer .meta > li > a { color:gray; }
	.composer .meta > li .caret { border-top-color:gray; }
	.composer .meta li.active > a > i { background-image:url(../assets/img/glyphicons-halflings-white.png); opacity:1; }
	.composer .meta > li > a { padding: 5px 7px; margin-top: 2px; margin-bottom: 2px; font-size:11px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
	
.composer .tab-content { margin-bottom:0px; }
.composer .input { width:510px; resize:none; margin-bottom:5px; }

/* feed > timeline */
.timeline { font-size:14px; }
.timeline li { padding-bottom:10px; border-bottom:1px solid #E8E9EB; margin-bottom:10px; }
.timeline li i { margin: 1px 3px 0 0; opacity:0.3; }
.timeline .profile { display:block; float:left; }
	.timeline .profile img { -moz-border-radius:25px; -webkit-border-radius:25px; border-radius:25px; box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0px; }
.timeline .inner_wrap { margin-left: 60px; }
.timeline h4 { font-weight:normal; margin-bottom:5px; color:#808080; }
.timeline .name { font-weight:bold; }
.timeline .grade { font-weight:bold; font-size:15px; color:#F35400; margin-left:10px; }
.timeline .location { }
.timeline .message { color:#333; margin-bottom:10px; line-height:1.3em; }
	.timeline .message .more { display:block;  font-size:12px; margin:5px 0 ; }
.timeline .photo { margin-bottom:10px; }
.timeline .photo img { width:250px; padding:3px; border:1px solid #CCC; }
.timeline .photo img:hover { border-color:#08c; }

.timeline .reply { margin:10px 60px 0 0; background:#fff url(../img/arrow.png) no-repeat 10px 0; padding-top:5px; }
.timeline .reply li { padding:5px; background:#F5F5F5; border-bottom:1px solid #fff; margin-bottom:0px;}
.timeline .reply .profile img { width:30px; }
.timeline .reply .inner_wrap { margin-left:35px; min-height:30px; }
.timeline .reply .message { font-size:12px; color:#333; margin-bottom:3px; line-height:1.3em; }
.timeline .reply .name { font-weight:bold; }
.timeline .reply .input { text-align:center; }
.timeline .reply .input input { width:96%; font-size:12px; margin-bottom:0; }

.timeline .coupon { display:block; margin-bottom:10px; }
.timeline .coupon .photo { float:left; }
.timeline .coupon .photo img { width:150px; float:left; }
.timeline .coupon dl { float:left; margin-left:10px; font-size:12px; }
.timeline .coupon dt { float:left; width:40px; margin-bottom:5px; }
.timeline .coupon dd { width:200px; margin-bottom:5px;  }

.timeline .house .photo img { width:150px; }

/* suggest */
.suggest { margin-left:0; padding:20px 0; }
.suggest ul { padding:0 15px; margin-bottom:10px; border-bottom:1px solid #E8E9EB;  font-size:13px; }
.suggest li { margin-bottom:10px; }
.suggest h3 { font-size:12px; font-weight:bold; margin-bottom:10px; color:#999; line-height:1em; }
.suggest h4 { font-size:13px; font-weight:normal; color:gray; }
.suggest .message { color:#333; margin-bottom:10px; line-height:1.3em; letter-spacing:-1px }

/* suggest > neighborhood */
.suggest .neighborhood { }
.suggest .neighborhood .profile {  display:block; float:left; }
	.suggest .neighborhood .profile img { -moz-border-radius:25px; -webkit-border-radius:25px; border-radius:25px; width:50px; }
.suggest .neighborhood .inner_wrap { margin-left: 60px; min-height:50px; }
.suggest .neighborhood .name { font-weight:bold; }
.suggest .neighborhood .meta { margin-top:2px; }

/* suggest > venue */
.suggest .venue { }
.suggest .venue li { min-height:50px; margin-bottom:15px; }
.suggest .venue img { width:50px; float:left; }
.suggest .venue .inner_wrap { margin-left:60px; line-height:1.2em; min-height:50px; }
.suggest .venue .face {  display:block; float:left; }
	.suggest .venue .face img { -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; width:50px; }
.suggest .venue .name { font-weight:bold; }

/* suggest > coupon */
.suggest .coupon { }
.suggest .coupon li { min-height:50px; margin-bottom:15px; }
.suggest .coupon img { width:90px; float:left; }
.suggest .coupon .inner_wrap { margin-left: 100px; line-height:1.2em; min-height:60px; }
.suggest .coupon .name { font-weight:bold; }


/* flexble */
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1170px) { 
	.container { width: 980px; }
	.left_wrap { width:160px; }
	.content_wrap { width:520px;}
	.right_wrap { width:258px;}
	.composer .input { width:510px; }
 }

/* Large desktop */
@media (min-width: 1200px) { 
	.container { width: 1170px; }
	.left_wrap { width:200px; }
	.content_wrap { width:620px;}
	.right_wrap { width:308px;}
	/*.gnb .brand { margin-right:120px; margin-left:-10px; }*/
	
	.composer .input { width:610px; }
	
	.timeline .photo img { width:300px; }
 }
 