body { font-family:"arial","맑은 고딕" !important; background:#F0F1F2; background: url('../img/paper.jpg'); }


/* wrap */
.container { width: 980px; }
.body_wrap { margin:40px auto; background:#FCFCFC; border: 1px solid #D9D9D9; -moz-box-shadow:rgba(0, 0, 0, 0.1) 0 0 2px 0px; -webkit-box-shadow:rgba(0, 0, 0, 0.1) 0 0 2px 0px; box-shadow:rgba(0, 0, 0, 0.1) 0 0 2px 0px; letter-spacing:-1px;
}
.left_wrap { width:160px; float:left; padding:20px 0px; font-size:14px; }
.content_wrap { width:520px; float:left;  margin-left:0; padding:20px; min-height:800px; border-left:1px solid #E8E9EB; border-right:1px solid #E8E9EB; background:#fff; }
.right_wrap { width:258px; float:left; margin-left:0; padding:20px 0;}

/* common */
.clear { clear:both; }
img { vertical-align:middle; } 
.meta { font-size:11px; color:#999; line-height:1em; }

/* header */
.navbar img.face { -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; width:20px; float: left; margin-right:5px; }
.navbar .brand { margin-right:80px; margin-left:-10px; }
.search-query { width:300px; }

/* side */
.side {}
.side .profile { height:40px; padding:5px 15px; font-size:15px; }
.side .profile:hover { background:#EEE; }
.side .profile { margin-bottom:1px; }
	.side .profile img { -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; width:40px; display:block; float:left; }
	.side .profile .inner_wrap { display:block; padding:4px 0 0 50px; font-weight:bold; }

.side .nav li { margin-bottom:1px; }
.side .nav li i { margin:1px 5px 0 0; }
.side .nav .badge { float:right; color:white ; background:#08C; padding:3px 6px;  -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; font-size:11px; font-weight:bold; font-family:"tahoma"; letter-spacing:-1px; border:2px solid #fff; margin-top:-1px; line-height:1; text-shadow:none; }

/* composer */
.composer { }
.composer h1 { font-size: 18px; }
.composer input { width:510px; }

.control { margin-bottom: 10px; }
.control .nav { margin-bottom:0; }
.control a.dropdown-toggle { background-color:#f6f6f6;}

/* timeline */
.timeline { font-size:14px; }
.timeline li { padding-bottom:10px; border-bottom:1px solid #E8E9EB; margin-bottom:10px; }
.timeline .profile { display:block; float:left; }
	.timeline .profile img { -moz-border-radius:25px; -webkit-border-radius:25px; border-radius:25px; }
.timeline .inner_wrap { margin-left: 60px; }
.timeline h4 { font-weight:normal; margin-bottom:5px; color:#808080; }
.timeline .name { font-weight:bold; }
.timeline .location { }
.timeline .message { color:#333; margin-bottom:10px; line-height:1.3em; }
	.timeline .message .more { display:block;  font-size:12px; margin:5px 0 ; }
.timeline .photo { margin-bottom:10px; }
.timeline .photo img { width:250px; padding:3px; border:1px solid #CCC; }
.timeline .photo img:hover { border-color:#08c; }

.timeline .reply { margin:10px 60px 0 0; background:#fff url(../img/arrow.png) no-repeat 10px 0; padding-top:5px; }
.timeline .reply li { padding:5px; background:#F5F5F5; border-bottom:1px solid #fff; margin-bottom:0px;}
.timeline .reply .profile img { width:30px; }
.timeline .reply .inner_wrap { margin-left:35px; min-height:30px; }
.timeline .reply .message { font-size:12px; color:#333; margin-bottom:3px; line-height:1.3em; }
.timeline .reply .name { font-weight:bold; }
.timeline .reply .input { text-align:center; }
.timeline .reply .input input { width:96%; font-size:12px; margin-bottom:0; }

.timeline .coupon { display:block; margin-bottom:10px; }
.timeline .coupon .photo { float:left; }
.timeline .coupon .photo img { width:150px; float:left; }
.timeline .coupon dl { float:left; margin-left:10px; font-size:12px; }
.timeline .coupon dt { float:left; width:40px; margin-bottom:5px; }
.timeline .coupon dd { width:200px; margin-bottom:5px;  }

.timeline .house .photo img { width:150px; }

/* suggest */
.suggest {}
.suggest ul { padding:0 15px; margin-bottom:10px; border-bottom:1px solid #E8E9EB;  font-size:13px; }
.suggest li { margin-bottom:10px; }
.suggest h3 { font-size:12px; font-weight:bold; margin-bottom:10px; color:#999; line-height:1em; }
.suggest h4 { font-size:13px; font-weight:normal; margin-bottom:5px; color:#808080; color:#808080; }
.suggest .message { color:#333; margin-bottom:10px; line-height:1.3em; letter-spacing:-1px }

/* 이웃 */
.suggest .neighborhood { }

.suggest .neighborhood .profile {  display:block; float:left; }
	.suggest .neighborhood .profile img { -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; width:50px; }
.suggest .neighborhood .inner_wrap { margin-left: 60px; min-height:50px; }	
.suggest .neighborhood .name { font-weight:bold; }

/* 매장 */
.right_wrap .venue { }
.right_wrap .venue li { min-height:50px; margin-bottom:15px; }
.right_wrap .venue img { width:50px; float:left; }
.right_wrap .venue .inner_wrap { margin-left:60px; line-height:1.2em; min-height:50px; }
.right_wrap .venue .face {  display:block; float:left; }
	.right_wrap .venue .face img { -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; width:50px; }
.right_wrap .venue .name { font-weight:bold; }

/* 쿠폰 */
.right_wrap .coupon { }
.right_wrap .coupon li { min-height:50px; margin-bottom:15px; }
.right_wrap .coupon img { width:90px; float:left; }
.right_wrap .coupon .inner_wrap { margin-left: 100px; line-height:1.2em; min-height:60px; }
.right_wrap .coupon .name { font-weight:bold; }



/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1170px) { 
	.container { width: 980px; }
	.left_wrap { width:160px; }
	.content_wrap { width:520px;}
	.right_wrap { width:258px;}
	.composer input { width:510px; }
 }

/* Large desktop */
@media (min-width: 1200px) { 
	.container { width: 1170px; }
	.left_wrap { width:200px; }
	.content_wrap { width:620px;}
	.right_wrap { width:308px;}
	.navbar .brand { margin-right:120px; margin-left:-10px; }
	.composer input { width:610px; }
 }