hr { display:none; }
.clear { clear:both; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }

body { background:#F0F1F2; }
.wrap { font-family: "맑은 고딕","돋움"; }

/* head wrap */
.head_wrap { background:url("./img/bg_1.png") top left repeat-x; height:40px; left:0; position:fixed; top:0; width:100%; -moz-box-shadow:rgba(0, 0, 0, 0.1) 0 2px 1px 0; -webkit-box-shadow:rgba(0, 0, 0, 0.1) 0 2px 1px 0;box-shadow:rgba(0, 0, 0, 0.1) 0 2px 1px 0;  }
.head { width:980px; margin:0 auto; }
	.logo { display:block;  float:left; padding:6px 60px 0 10px; }
	.logo a { font-size:28px; font-weight:bold; text-decoration:none; font-family:"Helvetica","arial"; color:#fff; text-shadow: #2075BE 0 -1px 0; }
	.search { display:block; float:left; }
	.search input { background:#a0d3ec; border:1px solid #3990bb; color:#3890BC; font-family:inherit; font-size:12px; margin-top:7px; outline:none; padding:5px 26px 5px 5px; width:250px; -moz-box-shadow:#7ebfdf 0 1px 0 0px; -webkit-box-shadow:#7ebfdf 0 1px 0 0px;box-shadow:#7ebfdf 0 1px 0 0px; 
	-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
	.search input::-webkit-input-placeholder  { color:#3890BC; }
	.search input:-moz-placeholder { color:#3890BC; }	
.head .profile { height:27px; margin-top:7px; font-size:13px; float:right; }
.head .profile .face { display:block; float:left; }
	.head .profile .face img { -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; width:27px; }
.head .profile .name { display:block; padding:6px 10px 0 35px; font-weight:bold;  color:rgba(255, 255, 255, 0.9); text-shadow: #2075BE 0 1px 0; }
.head .profile .name:hover { text-decoration:none; }
	
/* body wrap */
.body_wrap { width:980px; padding-top:40px; margin:0 auto 50px; background:#fcfcfc;
border: 1px solid #D9D9D9; -moz-box-shadow:rgba(0, 0, 0, 0.1) 0 0 2px 0px; -webkit-box-shadow:rgba(0, 0, 0, 0.1) 0 0 2px 0px; box-shadow:rgba(0, 0, 0, 0.1) 0 0 2px 0px; 
}

/* left col */
.left_wrap { width:160px; padding:20px 0px; float:left; }
.left_wrap .profile { height:40px; padding:5px 15px; margin-bottom:10px; font-size:15px; }
.left_wrap .profile:hover { background:#EDEFF4; }
.left_wrap .profile .face { display:block; float:left; }
	.left_wrap .profile .face img { -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; width:40px; }
.left_wrap .profile .name { display:block; padding:12px 0 0 50px; font-weight:bold; }
.left_wrap h4 { padding:5px 15px; font-size: 12px; font-weight:bold; color:gray; }
.left_wrap ul.menu { font-size:14px; margin-bottom:15px; }
.left_wrap ul.menu li { padding:6px 10px 6px 20px; margin-bottom:1px; }
.left_wrap ul.menu li:hover { background:#EDEFF4;  }
.left_wrap ul.menu li.active { background:#EDEFF4; font-weight:bold; }
.left_wrap ul.menu .badge { float:right; color:white ; background:#A0D3EC; padding:2px 6px;  -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; font-size:12px; font-weight:bold; font-family:"tahoma"; letter-spacing:-1px; border:2px solid #fff; margin-top:-3px;}
.left_wrap ul.menu .badge.focus { }

/* content col */
.content_wrap { float:left; width:520px; padding:20px; min-height:800px; border-left:1px solid #E8E9EB; background:#fff;}
.timeline { font-size:14px; letter-spacing:-1px; }
.timeline li { padding-bottom:10px; border-bottom:1px solid #E8E9EB; margin-bottom:10px; }
.timeline .face { display:block; float:left; }
	.timeline .face img { -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.timeline .inner_wrap { margin-left: 60px; }
.timeline h6 { margin-bottom:5px; color:#808080; }
.timeline .name { font-weight:bold; }
.timeline .location {  }
.timeline .message { color:#333; margin-bottom:10px; line-height:1.3em; }
	.timeline .message .more { display:block;  font-size:12px; margin:5px 0 ; }
.timeline .meta { font-size:11px; color:#999; }
.timeline .photo { margin-bottom:10px; }
.timeline .photo img { width:250px; padding:3px; border:1px solid #E8E9EB; }

.timeline .reply { margin:10px 0 0; width:420px; background:#fff url(./img/arrow.png) no-repeat 10px 0; padding-top:5px; }
.timeline .reply li { padding:5px; background:#F5F5F5; border-bottom:1px solid #fff; margin-bottom:0px;}
.timeline .reply .face img { width:30px; }
.timeline .reply .inner_wrap { margin-left:35px; min-height:30px; }
.timeline .reply .message { font-size:12px; color:#333; margin-bottom:3px; line-height:1.3em; }
.timeline .reply .name { font-weight:bold; }
.timeline .reply .input { text-align:center; }
.timeline .reply .input input { border:1px solid #BDC7D8; width:98%; font-size:12px; padding:3px; }

.timeline .coupon { display:block; margin-bottom:10px; }
.timeline .coupon img { width:150px; padding:3px; border:1px solid #E8E9EB; float:left; }
.timeline .coupon dl { float:left; margin-left:10px; font-size:12px; }
.timeline .coupon dt { float:left; width:40px; margin-bottom:5px; }
.timeline .coupon dd { width:200px; margin-bottom:5px;  }

.timeline .house .photo img { width:150px; }

/* right col */
.right_wrap { float:left; padding:20px 0; border-left:1px solid #E8E9EB; min-height:800px; width:258px; background:#fff; letter-spacing:-1px; }
.right_wrap ul { padding:0 15px; margin-bottom:15px; border-bottom:1px solid #E8E9EB;  font-size:13px; }
.right_wrap h4 { font-size: 12px; font-weight:bold; color:gray; margin-bottom:10px; }
.right_wrap h6 { margin-bottom:5px; color:#808080; }
.right_wrap .meta { font-size:11px; color:#999; letter-spacing:-1px }
.right_wrap .message { color:#333; margin-bottom:10px; line-height:1.3em; letter-spacing:-1px }

/* 이웃 */
.right_wrap .neighborhood { }
.right_wrap .neighborhood li { min-height:50px; margin-bottom:10px; }
.right_wrap .neighborhood .face {  display:block; float:left; }
	.right_wrap .neighborhood .face img { -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; width:50px; }
.right_wrap .neighborhood .inner_wrap { margin-left: 60px; line-height:1.4em; }	
.right_wrap .neighborhood .name { font-weight:bold; }

/* 매장 */
.right_wrap .venue { }
.right_wrap .venue li { min-height:50px; margin-bottom:15px; }
.right_wrap .venue img { width:50px; float:left; }
.right_wrap .venue .inner_wrap { margin-left:60px; line-height:1.2em; min-height:50px; }
.right_wrap .venue .face {  display:block; float:left; }
	.right_wrap .venue .face img { -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; width:50px; }
.right_wrap .venue .name { font-weight:bold; }	

/* 쿠폰 */
.right_wrap .coupon { }
.right_wrap .coupon li { min-height:50px; margin-bottom:15px; }
.right_wrap .coupon img { width:90px; float:left; }
.right_wrap .coupon .inner_wrap { margin-left: 100px; line-height:1.2em; min-height:60px; }
.right_wrap .coupon .name { font-weight:bold; }
.right_wrap .coupon .meta { font-size:11px; color:#999; clear:both; }

